  <div (textSelect)="renderRectangles( $event )" class="container">

    <p>
      Every fashion business faces the same fundamental problems. Information over insight, figuring what the fast
      changing millenial and generation Z consumers want and spotting the next big trend.

      Moodboard solves them.

    </p>
    <p>
      Every fashion business faces the same fundamental problems. Information over insight, figuring what the fast
      changing millenial and generation Z consumers want and spotting the next big trend.

      Moodboard solves them.

    </p>
    <p>
      Every fashion business faces the same fundamental problems. Information over insight, figuring what the fast
      changing millenial and generation Z consumers want and spotting the next big trend.

      Moodboard solves them.

    </p>
    <div *ngIf="hostRectangle" [style.left.px]="hostRectangle.left" [style.top.px]="hostRectangle.top"
      [style.width.px]="hostRectangle.width" [style.height.px]="0">
      <div>
        <a (mousedown)="$event.preventDefault()" (mouseup)="$event.stopPropagation(); shareSelection()" class="share">
          <i class="fa fa-twitter"><br>Share</i>
        </a>
      </div>

    </div>

  </div>

  <div>
    <p>
      Oustide the select event directive area
    </p>
    <p>
      Oustide the select event directive area
    </p>
    <p>
      Oustide the select event directive area
    </p>
  </div>
